@media (min-width:576px) and (max-width: 992px) {
     
    .nav-section{
        width: 992px;
       background: blue;
        height: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        
    }
    /*--------hero-section start--------*/
    .hero-section {

        width: 744px;
        height: 1200px;
        margin: 0 auto;
        margin-top: 32px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap:40px;
       

        .hero-section-1st-div {
            width: 100%;
            height: 600px;
            
             .hero-lorem{
                width: 80%;
             }
            }


            .hero-section-2nd-div {
                width: 100%;
                height: 600px;
             
              
            
                .hero-img {
                    /* Images 2 */
                        position: absolute;
                        top: 761px;
                        left: 232px;
                    
                }
              .sub-500 {
                
                top: 53px;
                right: -414px;
                }
            
                .sub-300 {
                   
                    left: 151px;
                    top: 274px;
                    
                }
            
                }
    
    }
    /*-------change habit section start----*/
     .change-habit{
       width:100%;
       margin: 0 auto;
       margin-top: 60px;
       align-items: center;
       background: burlywood;
       
     }
     .habit-pic1{
            width:50%;
            background: rebeccapurple;
            h3 {
                margin-top: 15px;
            }
        
            p {
                text-align:start;
            }
     }
     .habit-pic2{
        width:50%;
    }
    .habit-pic3{
        width:50%;
    }
    .habit-pic4{
        width:50%;
   }
    
  }

 

  